{% extends "circle/layout.html" %}
{% load static %}
{% block body %}
    <h1>
        {{ circle.story.title }}
    </h1>
    <div id="data-div" data-circlepk="{{ circle.pk }}">
    <p id="story-p">
        <span id="text"></span><input id="word-input" type="text" size="20">
    </p>
    <input id="word-submit" type="button" value="Go">
    <div id="dev-turn-order"></div>
    <div id="dev-info">
        Threshold User Ct: {{ circle.threshold_user_ct }}<br>
        Max User Ct: {{ circle.max_user_ct }}<br>
        Circle creation time: {{ circle.creation_time }}
    </div>
    <div id="story-ending-div">
        <input id="propose-end-button" type="button" value="Propose end">
        <div id="ending-approval-div" style="display: none;">
            <input id="approve-end-button" type="button" value="Approve ending">
            <input id="reject-end-button" type="button" value="Reject ending">
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'circle/general.js' %}"></script>
    <script src="{% static 'circle/circle.js' %}"></script>
{% endblock %}
