{% extends "circle/layout.html" %}
{% load static %}
{% block body %}
    <div id="story-title-div">
        <h1>{{ circle.story.title }}</h1>
    </div>
    <div id="story-status-div">
        ...
    </div>
    <div id="data-div" data-circlepk="{{ circle.pk }}" data-threshold-user-ct="{{ circle.threshold_user_ct }}"></div>
    <div id="game-div" class="container-xxl d-flex flex-column h-100" style="display: none;">
        <div id="game-row" class="row d-flex flex-fill">
            <div id="game-col" class="col">
                <div id="text-page" class="flex-column h-100">
                    <div id="text"></div><input id="word-input" type="text" size="10">
                    <div id="alert-holder"></div>
                    <div class="alert alert-warning alert-dismissible fade show" id="alert-template" role="alert" style="display: none;">
                        <span id="alert-text">Placeholder Alert text</span>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <button type="button" id="word-submit">Go</button>
                    <div id="proposal-div">
                        <button id="propose-end-button" type="button">Propose end</button>
                        <button id="propose-new-paragraph-button" type="button">Propose new paragraph</button>
                        <div id="proposal-approval-div" style="display: none;">
                            <button id="approve-button" type="button">Approve</button>
                            <button id="reject-button" type="button">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="turn-order-col" class="col-md-auto">
                <div class="turn-order-author" id="turn-order-author-template"></div>
            </div>
        </div>
    </div>
    <div id="dev-turn-order" style=display:none;"></div>
    <div id="dev-info" style="display: none;">
        Threshold User Ct: {{ circle.threshold_user_ct }}<br>
        Max User Ct: {{ circle.max_user_ct }}<br>
        Circle creation time: {{ circle.creation_time }}
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'circle/general.js' %}"></script>
    <script src="{% static 'circle/circle.js' %}"></script>
{% endblock %}
