{% extends "circle/layout.html" %}
{% load static %}
{% block body %}
    <h1>
        Mockup Room
    </h1>
    <p id="story-p">
        <span id="text"></span><input id="word-input" type="text" size="20">
    </p>
    <input id="word-submit" type="button" value="Go">
    <div id="dev-turn-order"></div>
    <div id="story-ending-div">
        <input id="propose-end-button" type="button" value="Propose end">
        <div id="ending-approval-div">
            <input id="approve-end-button" type="button" value="Approve ending">
            <input id="reject-end-button" type="button" value="Reject ending">
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'circle/circle.js' %}"></script>
{% endblock %}
