{% extends "circle/layout.html" %}
{% load static %}
{% block fullwidth %}
    <h1 class="page-title">
        Write a Story
    </h1>
{% endblock %}
{% block body %}
<div id="content-row" class="row w-100 justify-content-around">
    <div class="col-lg">
        <h2>Start a new circle</h2>
        <div id="alert-holder"></div>
        <div class="input-div"><form>
            <label for="title-input" class="form-label">Title</label>
            <input id="title-input" class="form-control" type="text" size="20">
            <button id="title-submit" type="submit">Begin</button><br>
        </form></div>
        <h4>Options</h4>
        <div class="input-div">
            <form class="row justify-content-start">
                <div class="col-auto">
                    <label for="threshold-user-ct" class="form-label">Minimum # of users to start</label>
                    <input id="threshold-user-ct-input" class="form-control" type="number" name="threshold-user-ct" min="2" max="100" value="2">
                </div>
                <div class="col-auto">
                    <label for="max-user-ct" class="form-label">Max # of users in circle</label>
                    <input id="max-user-ct-input" class="form-control" type="number" name="max-user-ct" min ="2" max="100" value="4">
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-auto">
        <h3>Stories Waiting for Authors to Start</h3>
        <table>
            <tr>
                <th>Title</th>
                <th>Current Users</th>
                <th>Waiting For</th>
            </tr>
            {% for circle in waiting_circles %}
            <tr>
                <td><a href="{{ circle.story.get_absolute_url }}">{{ circle.story.title }}</a></td>
                <td>{{ circle.user_ct }}</td>
                <td>{{ circle.users_needed}}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>Stories in Progress Accepting More Authors</h3>
        <table>
            <tr>
                <th>Title</th>
                <th>Current Users</th>
                <th>Max Users</th>
            </tr>
            {% for circle in open_circles %}
            <tr>
                <td><a href="{{ circle.story.get_absolute_url }}">{{ circle.story.title }}</a></td>
                <td>{{ circle.user_ct }}</td>
                <td>{{ circle.max_user_ct }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}
{% block script %}
    <script src="{% static 'circle/general.js' %}"></script>
    <script src="{% static 'circle/index.js' %}"></script>
{% endblock %}
