{% extends "circle/layout.html" %}
{% load static %}
{% block body %}
    <h1>
        Story Circle Home
    </h1>
    <h3>Start a new circle by typing a title</h3>
    <input id="title-input" type="text" size="20">
    <label for="threshold-user-ct">Minimum # of users to start</label>
    <input id="threshold-user-ct-input" type="number" name="threshold-user-ct" min="1" max="100" value="2">
    <label for="max-user-ct">Max # of users in circle</label>
    <input id="max-user-ct-input" type="number" name="max-user-ct" min ="1" max="100" value="4">
    <!-- TODO: Set min values back to 1 when done testing -->
    <input id="title-submit" type="button" value="Begin">
    <h3>Circles Needing More Authors to Start:</h3>
    <table>
        <tr>
            <th>Title</th>
            <th>Current Users</th>
            <th># Needed</th>
        </tr>
        {% for circle in waiting_circles %}
        <tr>
            <td><a href="{{ circle.story.get_absolute_url }}">{{ circle.story.title }}</a></td>
            <td>{{ circle.user_ct }}</td>
            <td>{{ circle.users_needed}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Other Open Circles:</h3>
    <table>
        <tr>
            <th>Title</th>
            <th>Current Users</th>
            <th>Max Users</th>
        </tr>
        {% for circle in open_circles %}
        <tr>
            <td><a href="{{ circle.story.get_absolute_url }}">{{ circle.story.title }}</a></td>
            <td>{{ circle.user_ct }}</td>
            <td>{{ circle.max_user_ct }}</td>
        </tr>
        {% endfor %}
    </table>


{% endblock %}
{% block script %}
    <script src="{% static 'circle/general.js' %}"></script>
    <script src="{% static 'circle/index.js' %}"></script>
{% endblock %}
