{% extends "circle/layout.html" %}
{% load static %}
{% block fullwidth %}
    <h1 class="page-title">
        Write a Story
    </h1>
{% endblock %}
{% block body %}
<div class="col">
    <h3>Start a new circle by choosing a title</h3>
    <div id="alert-holder"></div>
    <div class="input-div">
        <input id="title-input" type="text" size="20">
        <button id="title-submit" type="button">Begin</button><br>
    </div>
    <h4>Options</h4>
    <div class="input-div">
        <label for="threshold-user-ct">Minimum # of users to start</label>
        <input id="threshold-user-ct-input" type="number" name="threshold-user-ct" min="2" max="100" value="2"><br>
        <label for="max-user-ct">Max # of users in circle</label>
        <input id="max-user-ct-input" type="number" name="max-user-ct" min ="2" max="100" value="4">
    </div>
    <h3>Stories Waiting for Authors to Start</h3>
    <table>
        <tr>
            <th>Title</th>
            <th>Current Users</th>
            <th>Waiting For</th>
        </tr>
        {% for circle in waiting_circles %}
        <tr>
            <td><a href="{{ circle.story.get_absolute_url }}">{{ circle.story.title }}</a></td>
            <td>{{ circle.user_ct }}</td>
            <td>{{ circle.users_needed}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Stories in Progress Accepting More Authors</h3>
    <table>
        <tr>
            <th>Title</th>
            <th>Current Users</th>
            <th>Max Users</th>
        </tr>
        {% for circle in open_circles %}
        <tr>
            <td><a href="{{ circle.story.get_absolute_url }}">{{ circle.story.title }}</a></td>
            <td>{{ circle.user_ct }}</td>
            <td>{{ circle.max_user_ct }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
{% block script %}
    <script src="{% static 'circle/general.js' %}"></script>
    <script src="{% static 'circle/index.js' %}"></script>
{% endblock %}
