{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Story Circles{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="{% static 'circle/styles.css' %}" rel="stylesheet">
        {% csrf_token %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">Story Circles</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav me-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" id="current-user-nav" href="{{ user.get_absolute_url }}"><strong>{{ user.username }}</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="write-nav" href="{% url 'index' %}">Write</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="read-nav" href="{% url 'finished_stories' %}">Read</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" id="login-nav" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-nav" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <header>
            {{ user.username|json_script:"user-data" }}
        </header>
        <div id="alert-holder"></div>
        <div class="alert alert-warning alert-dismissible fade show" id="alert-template" role="alert" style="display: none;">
            <span id="alert-text">Placeholder Alert text</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
