{% extends "circle/layout.html" %}
{% load static %}

{% block fullwidth %}
    <h1 class="page-title">Register</h1>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg">

        {% if message %}
        <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field }}
                </div>
                {% endfor %}
            <button type="submit">Register</button>

        </form>

        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'circle/register.js' %}"></script>
{% endblock %}
