@media screen and (max-width: 768px) {
    #turn-order-col {
        display: none;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    50% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

html, body {
    height: 100%;
}

.flex-fill {
    flex:1;
}

body {
    background-color: BurlyWood;
}

#story-title-div {
    background-color: Peru;
    h1 {
        font-weight: bold;
        font-family: "Times New Roman", serif;
    }
}

#game-div {
    background-color: DarkGoldenRod;
}

h1 {
    margin-top: 0.5rem;
    text-align: center;
}

h3 {
    margin-top:0.5em;
}

h4 {
    margin-top:0.25em;
}

input {
    box-sizing:border-box;
    margin:3px 1px;
}

input[type=number] {
    width:4em;
}


table {
    border-collapse: collapse;
    margin-left: 1rem;
}

table, th, td {
    border: 1px solid black;
    padding: 2px 5px;
}

.input-div {
    margin-left: 1rem;
}

#game-text-div {
    background-color: AntiqueWhite;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 1.2em;
}

p {
    text-indent: 3em;
}

#alert-template {
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#turn-order-col {
    background-color: BurlyWood;
}

#turn-order-author-template {
    display: none;
}

.turn-order-author { 
    background-color: beige;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid black;
    margin: 0.2em;
    padding: 0em 0.3em;
}

#story-status-div {
    text-align: center;
    background-color: LightSteelBlue;
    font-size: 1.5rem;
}
