// COLORS
$input-color: Goldenrod;
$input-focus-color: DarkGoldenRod;

@media screen and (max-width: 992px) {
    #turn-order-col {
        display: none;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    50% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

html, body {
    height: 100%;
}

.flex-fill {
    flex:1;
}

body {
    background-color: BurlyWood;
}

.non-story-col {
    background-color: NavajoWhite;
}

.text-col {
    background-color: DarkGoldenRod;
}

#turn-order-col {
    background-color: BurlyWood;

    #turn-order-author-template {
        display: none;
    }

    .turn-order-author { 
        background-color: beige;
        width: 100%;
        font-size: 1.5rem;
        border: 1px solid black;
        margin: 0.2em;
        padding: 0em 0.3em;
    }
}

h1 {
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", serif;
}

.page-title {
    background-color: Peru;
    margin: 0;
    padding: 0.5rem;
}

h2, h3 {
    margin-top:0.5em;
    font-weight: bold;
}

h4 {
    margin-top:0.25em;
}

input {
    box-sizing:border-box;
    margin:3px 1px;
}

input[type=number] {
    width:4em;
}

button {
    display: inline-block;
    border-radius: 0.25rem;
    border: none;
    padding: 0.25rem 2rem;
    margin: 0.25rem 0;
    text-decoration: none;
    background: $input-color;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: $input-focus-color;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.text-page {
    background-color: AntiqueWhite;
    max-width: 50rem;
    margin: 0 auto;
    top-margin: 1rem;
    font-size: 1.2em;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    h1 {
        font-weight: bold;
    }

    p {
        text-indent: 3em;
    }

    input {
    }
}

.finished-text-page {
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
}

#alert-template {
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


.input-div {
    margin-left: 1rem;
}

#story-status-div {
    text-align: center;
    background-color: LightSteelBlue;
    font-size: 1.5rem;
}

table {
    background-color: AntiqueWhite;
    border-collapse: collapse;
    margin-left: 1rem;
}

table, th, td {
    border: 1px solid black;
    padding: 2px 5px;
}
